<%- include("partials/header.ejs")  %>
<div class="container cover text-center d-flex align-items-center">

    <main class="px-3  ">
        <h1>Blogs</h1>
        <p class="lead">Welcome to our blog hub, where words come to life. Dive into captivating stories, informative articles, and endless creativity right on our home page.</p>
        <p class="lead">

            <a class="btn btn-lg btn-dark text-white rounded-pill px-3" href="/blogs" type="button">Start Reading blogs</a>

        </p>
    </main>
    
</div>
<%- include("partials/footer.ejs")  %>

